<% 
  set_meta_tags title: 'Aplica',
  description: 'Aplica para los cursos hackers del Dev.F.',
  keywords: 'escuela, hacker, programacion, development, summer, camp',
  og: {
    title: 'Aplica para el Dev.F.',
    description: 'Aplica para los cursos hackers del Dev.F.',
    image: 'http://devf.mx/images/og-devf.png',
    url: 'http://devf.mx/applications/new/'
  }
%>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
