<%-
  name  = question.question
  id    = question.id || name.to_url
  value = @answers.send(id)
  type  = question.type
  case type
  when 'name'
   value = current_user.name if value.blank?
   type = 'text_field'
  when 'email'
   value = current_user.email if value.blank?
   type = 'email'
  end
%>

<div class="question">
  <div class="question-title">
    <%= f.label id, "#{question.question} <span class='rqrd'>*</span>:".html_safe %>
  </div>
  <div class="question-body">
    <% case type %>
    <% when 'text_field' %>
    <%= f.text_field id, :value => value, :required => 'required' %>
    <% when 'email' %>
    <%= f.email_field id, :value => value, :required => 'required' %>
    <% when 'text_area' %>
    <%= f.text_area id, :rows => 5, :cols => 60, :value => value, :required => 'required' %>
    <% when 'select' %>
    <%= f.select id, options_from_collection_for_select(question.choices, :to_s, :to_s, value), :required => 'required' %>
    <% end %>
  </div>
</div>