<% 
  set_meta_tags title: 'Registrate',
  description: 'Registrate en un programa de Dev.f',
  keywords: 'programa, hacker, programacion, development, hackers, software development, geeks, programming languages',
  og: {
    title: 'Registrate en Dev.f',
    description: 'Registrate en un programa de Dev.f',
    image: 'http://devf.mx/images/og-devf.png',
    url: 'http://devf.mx/applications/new/'
  }
%>

<div class="apply-form">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <h1>Forma de Aplicación al Dev.F.</h1>
          <h3>Cuéntanos un poco sobre ti</h3>
          <p>Históricamente, las personas que aceptamos son aquellas que demuestran tener pasión por construir cosas y por resolver problemas. Nos fijamos mucho en qué has construido hasta ahora por tu cuenta y en qué tipo de proyectos has participado en tu tiempo libre. Te recomendamos ser breve, claro y agregar links como referencias.</p><br>

          <p>Todos los programas del Dev.F. son presenciales. El periodo de aplicaciones para el batch 4 ha terminado, pero puedes aplicar al batch 5 que será durante el verano de 2015.<p>

          <h4>Para leer más recomendaciones de cómo hacer una buena aplicación para el Dev.F., lee este <%= link_to "post", "http://devfmx.github.io/info/2014/09/14/devf-busca-personas-como-tu/"%> ¡Mucho éxito!</h4>
        </div>
      </div>
    </div>
    
    <%= form_for @application do |f| %>
      <div class="cols-12 questions">
        <div class="col col-9">
          <div class="col-inner">
            <%= fields_for :answers do |f| %>
              <%= render :partial => 'question', :collection => @questions, :locals => {:f => f, } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <%= f.button 'Enviar', :class => 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $('.new_application').validate();
</script>
