<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>Inscríbete</h1>
            <p>
              Cuentanos un poco sobre ti
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-home">
  <div class="wrapper">
  <%= render 'errors', :object => @application %>
  <%= form_for @application do |f| %>
    <%= fields_for :answers do |f| %>
      <%= render :partial => 'question', :collection => @questions, :locals => {:f => f, } %>
    <% end %>

    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
         <%= f.submit "Enviar", :class => 'btn btn-primary btn-large' %>
        </div>
      </div>
    </div>
    
  <% end %>
  </div>
</div>
