<% 
  set_meta_tags description: 'Escuela para crear y desarrollar soluciones a problemas del mundo real, utilizando las herramientas de software del momento.',
  keywords: 'escuela, hacker, programacion, development, summer, camp',
  og: {
    title: 'Dev.f',
    description: 'Escuela para crear y desarrollar soluciones a problemas del mundo real, utilizando las herramientas de software del momento.',
    image: 'http://devf.mx/images/og-devf.png',
    url: 'http://devf.mx/'
  }
%>

<% content_for :body_classes do %>
home
<% end %>
<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>Hackea tu verano, desarrolla el futuro.</h1>
            <p>Dev.f es la escuela para crear y desarrollar soluciones a problemas del mundo real, utilizando las herramientas de software del momento.</p>
            <p>Estamos en la ciudad y el tiempo indicados.</p>
            <p>Nuestro secreto: Más que desarrollar tecnología, desarrollamos personas.</p>
            <br>
            <%= link_to "Aplica hoy a dev.f".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="topbar-wrap">
  <div class="spacer"></div>
  <div class="topbar">
    <div class="wrapper cols-12">
      <div class="col col-3">
        <div class="col-inner"><a href="#manifest">Manifesto</a></div>
      </div>
      <div class="col col-3">
        <div class="col-inner"><a href="#course">Curso Cinta Blanca</a></div>
      </div>
      <div class="col col-3">
        <div class="col-inner"><a href="#senseis">Tus Senseis</a></div>
      </div>
      <div class="col col-3">
        <div class="col-inner"><%= link_to "Aplica Hoy", new_application_path %></a></div>
      </div>
    </div>
  </div>
</div>
<div class="section manifest wow fadeIn" id="manifest">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Manifesto</h2>
            <h5>desarrollamos(developers);</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <h3>Crear</h3>
          <p>La habilidad de crear algo donde antes no había nada es el talento más valioso del siglo XXI. En el dev.f vivirás un entrenamiento intenso al lado de senseis y mentores expertos en tecnología. Aprenderás y te convertirás en un creador.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Colaborar</h3>
          <p>Un verdadero guerrero reconoce el valor de un equipo. 
          Es tu oportunidad de convivir hombro a hombro y de aprender con personas de diferentes perfiles y talentos a construir soluciones tangibles a proyectos reales. El núcleo de nuestra filosofía es aprender a construir construyendo.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <h3>Avanzar</h3>
          <p>La tecnología cambia constantemente, por eso no basta con aprender a escribir código. Lo que realmente importa es que desarrolles las habilidades y seguridad requeridas para completar tus proyectos, vencer obstáculos y aprovechar al máximo tu potencial</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-separator data-image img-s-1"></div>
<div class="section program wow fadeIn" id="course">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Curso Cinta Blanca</h2>
            <h5>Aprende a construir con software</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cultura Open Source.</h3>
          <p>Colabora en línea con comunidades Open Source a través de Github y aprende a controlar tu código y versiones con Git.</p>
        </div>
      </div>
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Web</h3>
          <p>Aprende cómo funciona el Internet al descubrir los tres pilares principales de todo sitio web: HTML, CSS y Javascript.</p>
        </div>
      </div>
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Aplicaciones web modernas</h3>
          <p>Explora el arte de construir sitios web dinámicos y poderosos con tecnologías de punta como AngularJS, JQuery, o con cualquier otro framework moderno que te guste.</p>
        </div>
      </div>
    </div>    
    <div class="cols-12">
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Aplicaciones Móviles</h3>
          <p>Desarrolla aplicaciones móviles para los sistemas operativos más utilizados.</p>
        </div>
      </div>
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Enfoque de Entregar</h3>
          <p>Entrénate en los mejores hábitos y prácticas para que puedas volverte un desarrollador samurai productivo.</p>
        </div>
      </div>
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Publica tu Proyecto</h3>
          <p>Demuestra tu nivel de conocimiento: presenta tus aplicaciones en la nube utilizando tecnologías de máxima agilidad como Rails, Parse, Firebase, NodeJS, entre otras.</p>
        </div>
      </div>
    </div>    
  </div>
</div>
<div class="image-separator img-s-2"></div>
<div class="section facilitators wow fadeIn" id="senseis">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Conoce a tus senseis</h2>
            <h5>Deja que tus chakras hackers se empapen de sabiduría</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%= image_tag("home/vic.png")%>
          <h3>Victor Borja.</h3>
          <p>Victor es core commiter de Rubinius, Apache Buildr y co-autor de Fancy-lang. A lo largo de sus 14 años de experiencia en la industria ha trabajado como programador, líder técnico, consultor senior y ha creado dos startups de tecnología.</p>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/kike.png")%>
          <h3>Enrique Diaz</h3>
          <p>Enrique se inició en el desarrollo móvil en 2009, y desde 2011 ha trabajado con compañías como Motorola, Google y Grupo Expansión. Es organizador de hackathones como SHDH y AngelHack y co-organizador del GDG Androidtitlan.</p>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/sandy.png")%>
          <h3>Sandra Macías</h3>
          <p>Sandra es nuestra experta en User Experience. Actualmente es consultora en Google México para la revisión y selección de aplicaciones Android para Google Play en LatAm. En el pasado Sandra dirigió los esfuerzos de diseño en Diverza.</p>
        </div>
      </div>
    </div>    
  </div>
</div>   
<div class="image-separator img-s-3"></div>
<div class="section signup" id="apply">
  <div class="wrapper wow pulse" data-wow-delay=".3s">
    <div class="cols-12">
      <div class="col col-4 details details-top">
        <div class="col-inner">
          <%= image_tag("home/calendar.png") %>
          <h4>Horario y fecha</h4>
          <p>De lunes a viernes de 3pm a 9pm <br> 7 de Julio al 2 de Agosto de 2014.</p>
        </div>
      </div>
      <div class="col col-4 the-deal">
        <div class="col-inner">
          <h2>Inscríbete Hoy</h2>
          <span class="old-price">$29,999 MXN</span>
          <h3 class="introduction-price">$14,999 MXN <span>Precio Introducción</span></h3>
          <%= link_to "Aplica hoy a dev.f".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
        </div>
      </div>
      <div class="col col-4 details details-bottom">
        <div class="col-inner">
          <%= image_tag("home/calendar.png") %>
          <h4>Horario y fecha</h4>
          <p>De lunes a viernes de 3pm a 9pm <br> 7 de Julio al 2 de Agosto de 2014.</p>
        </div>
      </div>
      <div class="col col-4 details">
        <div class="col-inner">
          <%= image_tag("home/location.png") %>
          <h4>Lugar</h4>
          <p>La ubicación será sorpresa.</p>
        </div>
      </div>
    </div>  
  </div>
</div>