<% 
  set_meta_tags description: 'Programa para construir soluciones a problemas del mundo real, utilizando las herramientas de software del momento.',
  keywords: 'escuela, hacker, programacion, development, summer, camp, development, software, hacker school',
  og: {
    title: 'Dev.f',
    description: 'Programa enfocado en cultivar la cultura hacker y facilitar el conocimiento para la resolución de problemas a través del desarrollo de software.',
    image: 'http://devf.mx/images/og-devf.png',
    url: 'http://devf.mx/'
  }
%>

<% content_for :body_classes do %>
home
<% end %>

<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>Forma parte de la primera escuela de hackers en América Latina</h1>
            <p>El Dev.F. es el lugar donde se aprende haciendo, por eso le llamamos des-escuela. En este espacio podrás satisfacer tu curiosidad intelectual construyendo software desde el día uno junto con tus Senseis y los mejores mentores de la región.</p>
            <br>
            <p>Nuestro secreto: Más que desarrollar tecnología, desarrollamos personas.</p>
            <br>
            <%= link_to "¡Aplica YA!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="topbar-wrap">
  <div class="spacer"></div>
  <div class="topbar">
    <div class="wrapper cols-12">
      <div class="col col-2">
        <div class="col-inner"><a href="#manifest">Manifesto</a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><a href="#course">Programas</a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><a href="#senseis">Tus Guias</a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><a href="#testimonials">Testimonios</a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><a href="#results">Resultados</a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><%= link_to "Aplica YA", new_application_path %></a></div>
      </div>
    </div>
  </div>
</div>

<div class="section manifest wow fadeIn" id="hacker">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        
          <h1>hack·er</h1>
          <p>/hækə(ɹ)/</p>
          <br>
          <br>
          <p>sust.</p>
          <br>
          <p>1. Una persona que disfruta explorar los límites de lo posible por curiosidad intelectual.</p>
          <br>
          <p>2. Una persona que se regocija al entender profundamente los elementos internos de un sistema, en particular computadoras y redes de ellas.</p>
          <br>
          <p>3. Un individuo que disfruta el reto intelectual de cretivamente resolver problemas complejos y eludir las limitaciones de los sistemas de información y extender sus capacidades.</p>
        </div>

    </div>
  </div>
</div>

<div class="image-separator data-image img-s-1"></div>
<div class="section manifest wow fadeIn" id="manifest">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Manifesto</h2>
            <h5>desarrollamos(developers);</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-create.png") %>
          <h3>Crear</h3>
          <p><i>“Programming is the closest thing we have to a superpower.”</i><br> Aprende a crear junto a senseis y mentores expertos a construir aplicaciones de software útiles desde cero. En el Dev.F. inevitablemente te convertirás en un creador.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-collaborate.png") %>
          <h3>Colaborar</h3>
          <p>Detrás de una gran comunidad siempre encontraremos una gran cultura de colaboración. En el Dev.F. creemos que trabajar con personas de diferentes perfiles profesionales es uno de los pilares de la cultura hacker. Nuestro mantra es: “give before you get”.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-progress.png") %>
          <h3>Evolucionar</h3>
          <p>Lo más importante no es dominar un lenguaje de programación, sino saber identificar las herramientas indicadas para resolver un problema de manera eficiente. Del Dev.F. te llevarás: completar tus proyectos, vencer obstáculos y aprovechar al máximo tu potencial intelectual.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="image-separator data-image img-s-2"></div>
<div class="section program wow fadeIn" id="course">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Programas</h2>
            <h5>El sendero hacia la cultura hacker</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Blanca</h3>
          <h5>Aprende el ABC de la tecnología.</h5>
          <br>
          <p>1. Si quieres iniciarte en la nueva ola tecnológica, aplica a este curso.</p>
          <p>2. Programa de dos meses con horarios amigables para estudiantes de 15 a 100 años y profesionales que trabajan en horarios de oficina.</p>
          <p>3. Aprende a crear una aplicación Android ó un sitio web con las tecnologías más relevantes de la industria</p>
          <br>
          <%= link_to "Más información >>".html_safe, '#white-course', class: 'btn  btn-large fancybox' %>
          <div id="white-course" class="modal">
            <h2>Cinta Blanca</h2>
            <h3>“Learning to code is the single best thing anyone can do to get the most out of the amazing future in front of us.” -Marc Andreesen.</h3>
            <br>
              <h4>El sendero del zafiro púrpura (Crea tu website personal)</h4>
                <ol>
				  <li>Aprende a utilizar pseudocódigo</li>
				  <li>Aprende lógica de programación</li>
                  <li>Conoce la sintaxis de HTML5</li>
                  <li>Implementa funcionalidades con JS</li>
                  <li>Agrega estilo y colores con CSS3</li>
                  <li>Aprende a implementar un diseño responsivo.</li>
				  <li>Utiliza Polymer para crear sitios web super rápido</li>
                </ol>
                <br>

              <h4>El sendero del jade azul (Crea tu Android app)</h4>
              <ol>
				  <li>Aprende a utilizar pseudocódigo</li>
				  <li>Aprende lógica de programación</li>
                  <li>Conoce la sintaxis de Java</li>
                  <li>Aprende a utilizar Views y Layouts </li>
                  <li>Agrega estilo a través de XML</li>
                  <li>Aprende a crear tu aplicación para tablets y teléfonos.</li>
				  <li>Utiliza Material Design</li>
              </ol>
            <br>
                  <h2>Fecha de inicio: Lunes 26 de Enero de 2015.</h2>
                  <%= link_to "¡Aplica YA!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>

      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Roja</h3>
          <h5>Construye un producto digital con software.</h5>
          <br>
          <p>1. Sumérgete de lleno al mundo de desarrollo de software y productos tecnológicos.</p>
          <p>2. Programa intensivo de seis semanas, el tiempo perfecto para construir la app que va a solucionar un problema real.</p>
          <p>3. Aprenderás los skills para crear productos digitales para emprender, o trabajar en una startup.</p>
          <br>
          <br>
          <%= link_to "Más información >>".html_safe, '#red-course', class: 'btn  btn-large fancybox' %>

          <div id="red-course" class="modal">
            <h2>Cinta Roja</h2>
            <h3>“Developers are the lifeblood of innovation.” -Ron Conway</h3>
            <br>
			
            <p/>
              <h4>Semana 1: Desarrollo de producto.</h4>
                <ol>
                  <li>Minimum Viable Product</li>
                  <li>Lean UX</li>
                  <li>Lean Startup</li>
                  <li>Customer Development</li>
                </ol>
                <br>
              <h4>Semana 2: Herramientas para desarrolladores. </h4>
              <ol>
                <li>Sistemas de Control de Versiones con Github.</li>
                <li>Sistemas de Integración Continua con Jenkins.</li>
                <li>Sistema de reporteo de Bugs con CrashLytics.</li>
                <li>Herramientas de Deployment de aplicaciones.</li>
              </ol>
                  <br>
            <h4>Semana 3 - 6 Implementación de desarrollo.</h4>
            <ol>
              <li>Desarrollo de tu producto con herramientas como: Polymer, Rails, NodeJS, Android, iOS ó AngularJS.</li>
            </ol>
            <br>
            <h2>Fecha de inicio: Lunes 26 de Enero de 2015.</h2>
            <%= link_to "¡Aplica YA!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>

      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Negra</h3>
          <h5>Directo a las grandes ligas de la tecnología.</h5>
          <br>
          <p>1. Si quieres convertirte en desarrollador de software tiempo completo.</p>
          <p>2. 3 meses intensivos que te harán capaz de competir con cualquiera.</p>
          <p>3. Aprenderás estructuras de datos, algoritmos y desarrollarás 3 productos.</p>
          <br>
          <br>
          <br>
          <%= link_to "Más información >>".html_safe, '#black-course', class: 'btn btn-large fancybox' %>
          
          <div id="black-course" class="modal">
            <h2>Cinta Negra</h2>
            <br>
            <h3>“Programming is the closest thing we have to a superpower.” -Drew Houston.</h3>
            <br>
			
	              <h4>Proyecto O: Crea tu propio juego multiplataforma, por ejemplo Flappy Bird</h4>
	                <ol>
	                  <li>Aprende a crear juegos multiplataforma con Corona SDK.</li>
	                  <li>Aprende estructuras de datos como Arreglos, Pilas y Colas.</li>
	                  <li>Implementa Google Play Services en Lua.</li>
	                  <li>Utiliza Parse para guardar usuarios y scores.</li>
	                </ol>
	                <br>
	              <h4>Proyecto 1: Desarrolla tu propia aplicación de tipo comercial, por ejemplo Uber</h4>
	              <ol>
	                  <li>Aprende Sinatra o Express para servir peticiones HTTP.</li>
					  <li>Aprende a modelar una base de datos relacional.</li>
				      <li>Aprende a implementar los algoritmos de Djistra y ruta crítica.</li>
					  <li>Entiende e implementa API's de arquitectura REST.</li>
	              </ol>
	                  <br>
	            <h4>Proyecto 2: Construye una aplicación de conectividad P2P, por ejemplo Whatsapp</h4>
	            <ol>
	                  <li>Aprende a utilizar estructuras de datos como Árboles y Listas.</li>
					  <li>Aprende a implementar algoritmos de ordenamiento y de búsqueda.</li>
					  <li>Aprende a utilizar el API de Push Notifications.</li>
					  <li>Construye un sistema de usuarios para definir relaciones.</li>
					  <li>Aprende a utilizar un modelo de base de datos no relacional con NoSQL.</li>
	            </ol>	
	            <br>
								
	            <h2>Fecha de inicio: Lunes 26 de Enero de 2015.</h2>
	            <%= link_to "¡Aplica YA!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
	          </div>
	        </div>
			
            <p/>
            <p/>
            <p/>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>


<div class="image-separator data-image img-s-3"></div>
<div class="section facilitators wow fadeIn" id="senseis">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Tus Guias</h2>
            <h5>Líderes que están cambiando la cara de México desde la trinchera tecnológica; con ellos podrás acercarte en el Dev.F. para pulir juntos tus proyectos:</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%= image_tag("home/jorge_molina.jpg")%>
          <h3>Jorge Molina.</h3>
          <h4>Director Regional, Google Enterprise.</h4>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/rodowi.png")%>
          <h3>Rodolfo Wilhelmy</h3>
          <h4>Chief Data Officer, Presidencia de la República</h4>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/alfonso_luna.jpg")%>
          <h3>Alfonso Luna</h3>
          <h4>Ex-Microsoft, Ex-Google, CEO de Kentriki</h4>
        </div>
      </div>
    </div>    
    <div class="section-title">
      <%= link_to "Ver todos los mentores >>".html_safe, '#all-mentors', class: 'btn  btn-large fancybox' %>
    </div>
    <div id="all-mentors" class="modal">
      <h2>Todos los mentores</h2>
        <ol>
          <li>Antonio Guzmán – Líder GDG's DF / Entrenador acreditado de Google</li>
          <li>Francisco Solsona – Lead SP LatAm Developer Relations Google</li>
          <li>Pethros Egziabher – Ex-Google / Harvard</li>
          <li>Francisco Mekler – CTO IMCO</li>
          <li>Rodolfo Wilhelmy – Chief Data Officer Presidencia de la República</li>
          <li>Pedro Germán López – Advisor Miami Ad School, Co-fundador ForwardLab</li>
          <li>Carlos Toxtli – Co-fundador ComproPago, Technical Program Manager en Google</li>
          <li>Rosemary Martínez – Diseñadora y Emprendedora</li>
          <li>Uriel Ramírez – Developer Advocate en Mejorando.la, GDG IPN</li>
          <li>Alfonso Luna – Ex-Google, Ex-Microsoft, Co-fundador Kentriki</li>
          <li>Volker Müller – CTO Descufy, Ex-Ramius Capital Group</li>
          <li>Erick Camacho – Ex-Diverza, CTO Nubleer</li>
          <li>Miguel Gutiérrez – CEO de Base Logístika</li>
          <li>Daniel Zavala – Ex-Mejorando.la, Full-stack developer en Tutum Inc.,</li>
          <li>Jeduan Cornejo – Ex-CTO Yogome, Co-fundador ChelaJS</li>
          <li>José Luis Rodríguez – iOS developer enLastRoomMX, UNAM Mobile</li>
          <li>Josué Gio – Co-fundador y CEO LastRoomMX</li>
          <li>Pablo Casaubón – Co-fundador de PingStamp</li>
          <li>Daniel Zamora – Líder técnico en PingStamp</li>
          <li>Ela Stapley – Ex-The Guardian, The Engine Room, Co-fundadora Factual</li>
          <li>Juan Pablo Escobar – Ex-Innku, Co-fundador Codeando México</li>
          <li>Marcos Penhos – CEO y fundador PengoStores.</li>
          <li>Aarón Grego – CEO y fundador QueremosComer.com y Punto 2012</li>
          <li>José Sevilla – CEO y co-fundador Dinkbit</li>
        </ol>
    </div>
    <br>
    <div class="col-inner">
          <div class="section-title">
            <h2>Senseis</h2>
            <h5></h5>
          </div>
        </div>
        <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%= image_tag("home/eme_morato.jpg")%>
          <h3>Manuel Morato.</h3>
          <p>Manuel "Eme" Morato ha trabajado en startups tecnológicas en Silicon Valley, Corea del Sur y México en las áreas de negocios y estrategia. Actualmente trabaja en innovación cívica a través de Codeando México; es co-fundador y director del Dev.F; fue director de StartupBus México; es además facilitador de Startup Experience y profesor de emprendimiento en Universidad CENTRO.</p>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/sandy.png")%>
          <h3>Sandra Macías</h3>
          <p>Sandy es experta en diseño de interfaces y experiencia de usuario, habiendo diseñado y conceptualizado productos para marcas como BestBuy, Palacio de Hierro, Motorola y Secretaría de Economía. Actualmente es consultora en Google México para la revisión y selección de aplicaciones destacadas para Google Play en América Latina. En el pasado Sandra dirigió los esfuerzos de diseño de producto en Diverza.</p>
        </div>
      </div>

      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/kike.png")%>
          <h3>Enrique Díaz</h3>
          <p>Kike se ha enfocado al desarrollo de productos móviles durante los últimos 5 años para empresas Fortune500 como Google, Motorola, Grupo Expansión y startups también. En 2013 inició una agencia de desarrollo que liberó 12 aplicaciones móviles en un año. En 2014 Kike fué nombrado Google Developer Expert, sumándose a una exclusiva lista de 100 expertos en todo el mundo con tal reconocimiento.</p>
        </div>
      </div>

    </div>  
  </div>
</div>   

<div class="image-separator data-image img-s-4"></div>

<div class="section facilitators wow fadeIn" id="testimonials">
  <div class="wrapper">
    <div class="col col-12">
      <div class="col-inner">
        <div class="section-title">
          <h2>Testimonios</h2>
          <h5>Ellos formaron parte del primer batch de participantes y ahora son parte de nuestros casos de éxito.</h5>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%= image_tag("home/petter.png")%>
          <h3>Pete Hernández</h3>
          <p>A unos días de terminar el programa, Pedro hizo su primer aplicación profesional al ser parte del equipo que desarrolló la aplicación para Android de Semana del Emprendedor 2014.</p>
          <br>
            <h4><strong>"Aquí viví el mejor verano de mi vida."</strong></h4>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/gabs.png")%>
          <h3>Gabs Serrato</h3>
          <p>Unas semanas después de terminar el programa y después de varias ofertas de empleo, Gabs decidió trabajar en Kangou (startup mexicana) como UX designer.</p>
          <br>
          <br>
          <h4><strong>"Gracias al Dev.F. decidí quedarme en México en vez de irme a vivir a otro país."</strong></h4>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/rick.png")%>
          <h3>Rick Martínez</h3>
          <p>Durante el Dev.F. Rick construyó su propia startup. Actualmente están en búsqueda de capital semilla y fueron invitados a participar en The Summit, en Dublín, Irlanda.</p>
          <br>
          <h4><strong>"Dev.F. es una de esas experiencias que cambian tu visión y hackean tu vida."</strong></h4>
        </div>
      </div>
    </div> 
    <br><br><br><br>
    <div class="section-title">
      <h3>¿Quieres formar parte del Dev.F. pero no sabes si es una buena opción para tí? Lee este <%= link_to "post", "http://devfmx.github.io/info/2014/09/14/devf-busca-personas-como-tu/"%> y descubre qué tipo de personas estamos buscando para la primera escuela de hackers en México y América Latina.</h3>
    </div>
  </div>
</div>

<div class="image-separator data-image img-s-5"></div>

<div class="section facilitators wow fadeIn" id="results">
  <div class="wrapper">

        <div class="section-title">
          <h2>Resultados</h2>
          <h5>¿Aún sigues dudoso/a? ¡Entérate de lo que pasó en el batch pasado y forma parte del siguiente programa!</h5>
        </div>
          <h3>+2,000 horas de capacitación acumuladas entre los asistentes en tecnologías como Polymer, Ruby on Rails, App Engine, Python y Android.</h3>
          <h3>+40 horas de capacitación uno a uno con nuestra red de mentores.</h3>
          <h3>El 90% de los asistentes utilizó herramientas que no conocía.</h3>
          <h3>85% del grupo recibió alguna oferta de trabajo antes de finalizar el programa.</h3>
          <h3>40% del grupo ha conseguido empleo después de 3 semanas de terminar el programa.</h3>
          <h3>2 personas iniciaron su propia compañía durante DevF.</h3>
          <h3>17 personas que se sumergieron en la cultura hacker y ahora la comparten en México.</h3>
          <br>
          <br>
            <%= link_to "¡Aplica YA!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          <br>
  </div>
</div>

<div class="image-separator data-image img-s-6"></div>

<div class="section facilitators wow fadeIn" id="results">

<div class="wrapper">
  <div class="section-title">
    <h2>Lo que se está diciendo sobre el Dev.F.</h2>
  </div>
  <div class="section facilitators wow fadeIn" id="results">
    <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=link_to image_tag("home/webadictos.png"), "http://webadictos.com/2014/08/04/la-primera-escuela-de-developers-en-mexico/"%>
        </div>
      </div>
    <div class="col col-4 facilitator-item">
      <div class="col-inner">
        <%=link_to image_tag("home/logo-reforma.png"), "http://www.reforma.com/aplicacioneslibre/preacceso/articulo/default.aspx?id=305493&impresion=1&urlredirect=http%3A%2F%2Fwww.reforma.com%2Faplicaciones%2Farticulo%2Fdefault.aspx%3Fid%3D305493"%>
      </div>
    </div>
    <div class="col col-4 facilitator-item">
      <div class="col-inner">
        <%=link_to image_tag("home/g-devs.png"), "http://programa-con-google.blogspot.mx/2014/08/dev-f-una-escuela-no-tradicional-para.html?utm_source=googleplus&utm_medium=M%C3%A9xico&utm_campaign=Google"%>
      </div>
    </div>
    </div>    
  </div>
</div>
</div>

<div class="image-separator data-image img-s-7"></div>
<div class="section signup" id="apply" style="display: none;">

  <!--
  <div class="wrapper wow pulse" data-wow-delay=".3s">
    <div class="cols-12">
      <div class="col col-4 details details-top">
        <div class="col-inner">
          <%= image_tag("home/calendar.png") %>
          <h4>Horario y fecha</h4>
          <p>De lunes a viernes de 3pm a 9pm <br> 7 de Julio al 2 de Agosto de 2014.</p>
        </div>
      </div>
      <div class="col col-4 the-deal">
        <div class="col-inner">
          <h2>¡Inscríbete Hoy!</h2>
          <h3 class="introduction-price"> Tenemos becas disponibles: <br> Aplica YA y una de ellas puede ser tuya </h3>
          <%= link_to "¡Obtén una beca ahora!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
        </div>
      </div>
      <div class="col col-4 details details-bottom">
        <div class="col-inner">
          <%= image_tag("home/calendar.png") %>
          <h4>Horario y fecha</h4>
          <p>De lunes a viernes de 3pm a 9pm <br> 7 de Julio al 2 de Agosto de 2014.</p>
        </div>
      </div>
      <div class="col col-4 details">
        <div class="col-inner">
          <%= image_tag("home/location.png") %>
          <h4>Lugar</h4>
          <p>Zamora 187, Condesa, Cuauhtémoc, 06140 Ciudad de México, Distrito Federal</p>
          <br>
          <%= image_tag 'centraal.png' %>
        </div>
      </div>
    </div>  
  </div>-->
</div>