<%
  set_meta_tags description: 'Programa enfocado en cultivar la cultura hacker y facilitar el conocimiento para la resolución de problemas a través del desarrollo de software.',
  keywords: 'escuela, hacker, programacion, development, summer, camp, development, software, hacker school, hackerschool, mexico, hacker school mexico, hacker mexico',
  og: {
    title: 'Dev.f',
    description: 'Programa enfocado en cultivar la cultura hacker y facilitar el conocimiento para la resolución de problemas a través del desarrollo de software.',
    image: 'http://devf.mx/images/og-devf.png',
    url: 'http://devf.mx/'
  }
%>

<% content_for :body_classes do %>
home
<% end %>

<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>Forma parte de la más grande escuela de hackers en América Latina</h1>
            <p>El Dev.F. es un gimnasio para la mente, donde ejercitas y desarrollas las habilidades técnicas necesarias para ingresar al mundo del software, junto a la comunidad de hackers que está transformando la región.</p>
            <br>
            <p>Nuestro secreto: Más que desarrollar tecnología, desarrollamos personas.</p>
            <br>
            <%= link_to "¡Aplica YA!".html_safe, '#course', class: 'btn btn-primary btn-large' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="topbar-wrap">
  <div class="spacer"></div>
  <div class="topbar">
    <div class="wrapper cols-12">
      <div class="col col-2">
        <!--<div class="col-inner"><a href="#manifest">Manifesto</a></div>-->
        <div class="col-inner"><a href="#course">Programas</a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><a href="#senseis">Tus guias</a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><a href="#testimonials">Testimonios</a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><a href="#results">Resultados</a></div>
      </div>
      <div class="col col-2">
        <!--<div class="col-inner"><a href="#blog">Blog</a></div>-->
        <div class="col-inner"><%= link_to "Blog", "http://devfmx.github.io/" %></a></div>
      </div>
      <div class="col col-2">
        <div class="col-inner"><%= link_to "Aplica YA", '#course' %></a></div>
      </div>
    </div>
  </div>
</div>

<div class="section manifest wow fadeIn" id="hacker">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">

          <h1>hack·er</h1>
          <p>/hækə(ɹ)/</p>
          <br>
          <br>
          <p>sust.</p>
          <br>
          <p>1. Una persona que disfruta explorar los límites de lo posible por curiosidad intelectual.</p>
          <br>
          <p>2. Una persona que se regocija al entender profundamente los elementos internos de un sistema, en particular computadoras y redes de ellas.</p>
          <br>
          <p>3. Un individuo que disfruta el reto intelectual de creativamente resolver problemas complejos y eludir las limitaciones de los sistemas de información y extender sus capacidades.</p>
        </div>

    </div>
  </div>
</div>

<div class="image-separator data-image img-s-1"></div>
<div class="section manifest wow fadeIn" id="manifest">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Manifesto</h2>
            <h5>desarrollamos(developers);</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-create.png") %>
          <h3>Comunidad</h3>
          <p><br> En el Dev.F. tendrás acceso a personas de perfiles complementarios con quienes podrás compartir ideas y así crear conexiones de valor para materializar nuevas oportunidades. Aquí está la gente apasionada como tú.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-collaborate.png") %>
          <h3>Aprendizaje</h3>
          <p><br>Explora sin límites las mejores herramientas tecnológicas para desarrollar tus ideas y llevarlas a la realidad. Nunca dejes de aprender.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-progress.png") %>
          <h3>Evolución</h3>
          <p><br>Continúa creciendo para después tener el poder de resolver problemas y así generar impacto positivo en la vida de las personas. Es tu oportunidad de transformar tu realidad.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="image-separator data-image img-s-2"></div>
<div class="section program wow fadeIn" id="course">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Programas</h2>
            <h5>El sendero hacia la cultura hacker</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Blanca</h3>
          <h5>Code Hacker</h5>
          <br>
          <p>Aplica si no sabes nada de programación, si sólo sabes prender y apagar la compu, si sólo sabes usar Facebook, Twitter y/o Google.</p>
          <br><br><br>

          <%= link_to "¡Aplica Ya!".html_safe, "https://devf.typeform.com/to/vGqumC", class: 'btn btn-primary btn-large' %>
          <br>
          <br>
          <%= link_to "Más información >>".html_safe, '#white-course', class: ' fancybox' %>


          <div id="white-course" class="modal">
            <h2>Cinta Blanca</h2>
            <h3>Objetivo del programa Cinta Blanca: </h3>
            <br>
            <h4>Aprender a construir un sitio web  con HTML5 + CSS3 + Javascript y conoce los fundamentos de la lógica de programación.</h4>
            <br><br>
                  <h3>Programa</h3>
              <ol>
				          <li>HTML5, CSS3 – Construye tu primer sitio web</li>
				          <li>Estructuras de control – Entiende cómo piensa una computadora</li>
                  <li>Funciones – Aprende a descomponer problemas en partes más pequeñas</li>
                  <li>Arreglos – Aprende los fundamentos para el almacenamiento de datos</li>
                  <li>Objetos – Optimiza tu forma de pensar al momento de atacar problemas.</li>
                  <li>Desarrolla tu propio proyecto – Aplica las tecnologías aprendidas en un proyecto web personal.</li>
              </ol>
            <br>
                  <h3>Duración: 2 meses</h3>
                  <h3>Fecha de inicio: Lunes 15 de Junio de 2015.</h3>
                  <h3>Horario: de Lunes a Viernes de 7pm a 10pm</h3>
                  <h3>Precio: <strike>$ 22,000 </strike></h3>
                  <!--esto está mal, corregir-->
                  <h3 style="font-weight:bold;font-size:1.5em;">Sólo paga $15,000</h3>

                  <br>
                  <%= link_to "¡Aplica para una beca!".html_safe, "https://devf.typeform.com/to/QDyiY7", class: 'btn btn-primary btn-large' %>


                  <h5>**Si te interesa saber cómo funciona nuestro sistema de becas y apoyos, <%= link_to "lee este post", "http://devfmx.github.io/info/2015/04/23/filosofia-economica/"%></h5>

          </div>
        </div>
      </div>

      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Roja</h3>
          <h5>Code Hacker</h5>
          <br>
          <p>Si sabes fundamentos de programación y quieres conocer acerca de Programación Orientada a Objetos, Arquitectura Cliente-Servidor, Patrones de diseño o Programación Funcional.</p>
          <br><br>

        <%= link_to "¡Aplica Ya!".html_safe, "https://devf.typeform.com/to/vGqumC", class: 'btn btn-primary btn-large' %>
          <br>
          <br>
          <%= link_to "Más información >>".html_safe, '#red-course', class: 'fancybox' %>

          <div id="red-course" class="modal">
            <h2>Cinta Roja</h2>
            <h3>Objetivo del programa Cinta Roja: </h3>
            <br>
            <h4>Aprender los fundamentos técnicos que necesitarás para convertirte en un desarrollador profesional.</h4>
            <br><br>
                  <h3>Programa</h3>
              <ol>
                  <li>Programación Orientada a Objetos</li>
                  <li>Arquitectura Cliente-Servidor</li>
                  <li>Paradigmas de programación</li>
                  <li>Estructuras de datos</li>
                  <li>Mejores prácticas para el desarrollo de software.</li>
                  <li>Programación funcional</li>
                  <li>Análisis y diseño de Bases de Datos.</li>
                  <li>Sistemas de Control de Versiones Distribuido.</li>
                  <li>Patrones de diseño de software.</li>
                  <li>Test-Driven Development.</li>
              </ol>
            <br>
                  <h3>Duración: 2 meses</h3>
                  <h3>Fecha de inicio: Lunes 15 de Junio de 2015.</h3>
                  <h3>Horario: de Lunes a Viernes de 6pm a 10pm</h3>
                  <h3>Precio: <strike>$ 25,000 </strike></h3>
                  <!--esto está mal, corregir-->
                  <h3 style="font-weight:bold;font-size:1.5em;">Sólo paga $18,000</h3>
                  <br>
                  <br>
                  <%= link_to "¡Aplica para una beca!".html_safe, "https://devf.typeform.com/to/JogG25", class: 'btn btn-primary btn-large' %>

                  <h5>**Si te interesa saber cómo funciona nuestro sistema de becas y apoyos, <%= link_to "lee este post", "http://devfmx.github.io/info/2015/04/23/filosofia-economica/"%></h5>

          </div>
        </div>
      </div>

      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Negra</h3>
          <h5>Code Hacker</h5>
          <br>
          <p>Conviértete en un hacker que conoce las mejores herramientas para desarrollo web o móvil y resolver problemas complejos.</p>
          <br>
          <br>
          <br>

        <%= link_to "¡Aplica Ya!".html_safe, "https://devf.typeform.com/to/vGqumC", class: 'btn btn-primary btn-large' %>
          <br>
          <br>
          <%= link_to "Más información >>".html_safe, '#black-course', class: 'fancybox' %>

          <div id="black-course" class="modal">
            <h2>Cinta Negra</h2>
            <br>
            <br>

	              <h4>Desarrollo web usando MEAN Stack</h4>
	                <ol>
	                  <li>Qué es MEAN Stack.</li>
	                  <li>Buenas prácticas con Javascript.</li>
	                  <li>Node.js</li>
	                  <li>Express.js</li>
                    <li>Bases de datos relacionales vs No relacionales</li>
                    <li>Angular.js</li>
                    <li>Generadores Yeoman</li>
                    <li>Conceptos avanzados de API's REST.</li>
                    <li>Programación funcional con Javascript.</li>
                    <li>Behavior Driven Development.</li>
                    <li>Flujo de trabajo con integración continua.</li>
                    <li>Deployment profesional para sistemas UNIX.</li>
	                </ol>
	                <br>
	              <h4>Desarrollo de aplicaciones en iOS</h4>
	              <ol>
	                  <li>Introducción al lenguaje de programación Swift</li>
                    <li>Introducción a la plataforma iOS</li>
                    <li>Interfaces de usuario en iOS</li>
                    <li>Arquitectura de las aplicaciones en iOS</li>
                    <li>Tablas y Collection Views</li>
                    <li>Storyboards</li>
                    <li>Conexiones a servicios web y CoreData</li>
	              </ol>
	                  <br>
	            <h4>Desarrollo de aplicaciones en Android</h4>
	            <ol>

                    <li>Introducción a Android</li>
                    <li>Anatomía de archivos de una aplicación Android</li>
                    <li>Arquitectura de Android y bloques de construcción</li>
                    <li>Interfaces de usuario</li>
                    <li>Adapters: Spinner, ListViews, BaseAdapter</li>
                    <li>Fragments</li>
                    <li>Conexiones HTTP y Loaders</li>
                    <li>Modelo de Persistencia</li>
                    <li>Material Design</li>
                    <li>Despliegue de aplicaciones a Google Play</li>
	            </ol>
	            <br><br><br>

                  <h3>Duración: 2 meses</h3>
                  <h3>Fecha de inicio: Lunes 15 de Junio de 2015.</h3>
                  <h3>Horario: de Lunes a Viernes de 6pm a 10pm</h3>
                  <h3>Precio: <strike>$ 29,000 </strike></h3>
                  <!--esto está mal, corregir-->
                  <h3 style="font-weight:bold;font-size:1.5em;">Sólo paga $21,000</h3>
                  <br>
                  <%= link_to "¡Aplica para una beca!".html_safe, "https://devf.typeform.com/to/HG2epw", class: 'btn btn-primary btn-large' %>

                  <h5>**Si te interesa saber cómo funciona nuestro sistema de becas y apoyos, <%= link_to "lee este post", "http://devfmx.github.io/info/2015/04/23/filosofia-economica/"%></h5>

	          </div>
	        </div>
          </div>
          <div class="col col-4 program-item">
          <div class="col-inner">
          <h3>Desarrollo de producto</h3>
          <h5>Product Hacker</h5>
          <br>
          <p>Si quieres empezar un proyecto tecnológico, pero no tienes idea de cómo llevarlo a cabo, este programa es para tí.</p>
          <br><br><br>

        <%= link_to "¡Aplica Ya!".html_safe, "https://devf.typeform.com/to/vGqumC", class: 'btn btn-primary btn-large' %>
          <br>
          <br>
          <%= link_to "Más información >>".html_safe, '#product-course', class: 'fancybox' %>
          <div id="product-course" class="modal">
            <h2>Desarrollo de producto</h2>
            <h3>Objetivo del programa: </h3>
            <br>
            <h4>Conocer las metodologías y desarrollar las habilidades necesarias para desarrollar un proyecto tecnológico desde su concepción hasta su ejecución y así reducir riesgos de fallo.</h4>
            <br><br>
                  <h3>Programa</h3>
              <ol>

                  <li>Sistemas de control de versiones</li>
                  <li>Herramientas de product management</li>
                  <li>Sistemas de identificación de bugs</li>
                  <li>Buenas prácticas de desarrollo de software</li>
                  <li>Estándares de desarrollo</li>
                  <li>Sistemas de reporteo de bugs</li>
                  <li>Herramientas de deployment de aplicaciones</li>
                  <li>Metodologías Scrum</li>
                  <li>Minimum Viable Product – desarrollo de prototipo inicial.</li>
                  <li>Lean UX</li>
                  <li>Lean Startup / Customer Development</li>
                  <li>Soft skills</li>
                  <li>Conectar y participar con comunidades de emprendimiento + tecnología</li>
                  <li>Cultura hacker</li>
                  <li>Comunicación efectiva</li>
              </ol>
            <br>
                  <h3>Duración: 2 meses</h3>
                  <h3>Fecha de inicio: Lunes 15 de Junio de 2015.</h3>
                  <h3>Horario: de Lunes a Viernes de 6pm a 10pm</h3>
                  <h3>Precio: <strike>$ 25,000 </strike></h3>
                  <!--esto está mal, corregir-->
                  <h3 style="font-weight:bold;font-size:1.5em;">Sólo paga $18,000</h3>
                  <br>
                  <%= link_to "¡Aplica para una beca!".html_safe, "https://devf.typeform.com/to/JT7kIr", class: 'btn btn-primary btn-large' %>

                  <h5>**Si te interesa saber cómo funciona nuestro sistema de becas y apoyos, <%= link_to "lee este post", "http://devfmx.github.io/info/2015/04/23/filosofia-economica/"%></h5>

          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="image-separator data-image img-s-3"></div>
<div class="section facilitators wow fadeIn" id="senseis">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Tus Guias</h2>
            <h5>Líderes que están cambiando la cara de México desde la trinchera tecnológica; con ellos podrás acercarte en el Dev.F. para pulir juntos tus proyectos:</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%= image_tag("home/jorge_molina.jpg")%>
          <h3>Jorge Molina.</h3>
          <h4>Director Regional, Google Enterprise.</h4>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/rodowi.png")%>
          <h3>Rodolfo Wilhelmy</h3>
          <h4>Chief Data Officer, Presidencia de la República</h4>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/alfonso_luna.jpg")%>
          <h3>Alfonso Luna</h3>
          <h4>Ex-Microsoft, Ex-Google, CEO de Kentriki.</h4>
        </div>
      </div>
    </div>
    <div class="section-title">
      <%= link_to "Ver todos los mentores >>".html_safe, '#all-mentors', class: 'btn  btn-large fancybox' %>
    </div>
    <div id="all-mentors" class="modal">
      <h2>Todos los mentores</h2>
        <ol>
          <li>Antonio Guzmán – Líder GDG's DF / Entrenador acreditado de Google</li>
          <li>Francisco Solsona – Lead SP LatAm Developer Relations Google</li>
          <li>Pethros Egziabher – Ex-Google / Harvard</li>
          <li>Francisco Mekler – Head of D3 en opi.la</li>
          <li>Rodolfo Wilhelmy – Chief Data Officer Presidencia de la República</li>
          <li>Pedro Germán López – Advisor Miami Ad School, Co-fundador ForwardLab</li>
          <li>Carlos Toxtli – Co-fundador ComproPago, Technical Program Manager en Google</li>
          <li>Uriel Ramírez – Developer Advocate en Mejorando.la, GDG IPN</li>
          <li>Alfonso Luna – Ex-Google, Ex-Microsoft, Co-fundador Kentriki</li>
          <li>Erick Camacho – CTO Nubleer</li>
          <li>Daniel Zavala – Full-stack developer en Tutum Inc.,</li>
          <li>Jeduan Cornejo – Ex-CTO Yogome, Co-fundador ChelaJS</li>
          <li>José Luis Rodríguez – iOS Developer en Bridgefy Inc.</li>
          <li>Josué Gio – Co-fundador y CEO LastRoom</li>
          <li>Pablo Casaubón – Co-fundador de PingStamp</li>
          <li>Ela Stapley – Ex-The Guardian, The Engine Room, Co-fundadora Factual</li>
          <li>Juan Pablo Escobar – Ex-Innku, Co-fundador Codeando México</li>
          <li>Marcos Penhos – CEO y fundador PengoStores.</li>
          <li>Aarón Grego – CEO y fundador QueremosComer.com y Punto 2012</li>
          <li>José Sevilla – CEO y co-fundador Dinkbit</li>
          <li>Guillermo Siliceo - CTO en Aliada</li>
          <li>Sandra Barrón - Product Manager en EasyTaxi</li>
          <li>Aurora Rodríguez - Mobile hacker en Diverza</li>
          <li>Sandra Macías - CXO en Hackers and Founders</li>
          <li>Juan Pablo Escobar - CEO en Codeando México</li>
          <li>Santiago Zavala - Venture Partner en 500Startups</li>
          <li>Javier Murillo - Developer Evangelist en Conekta</li>
          <li>Leo Fischer - CTO en Conekta</li>
          <li>Mario Escalante - CEO en Prestigos</li>
          <li>Mario Chávez - CTO en Get In The Rocket</li>
          <li>Eric Northam - CEO en EasyBroker</li>
          <li>César Salazar - Venture Partner en 500Startups</li>
        </ol>
    </div>
    <br>
    <div class="col-inner">
          <div class="section-title">
            <h2>Senseis</h2>
            <h5></h5>
          </div>
        </div>
        <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%= image_tag("home/eme_morato.jpg")%>
          <h3>Manuel Morato.</h3>
          <p>Manuel "Eme" Morato ha trabajado en startups tecnológicas en Silicon Valley, Corea del Sur y México en las áreas de negocios y estrategia. Actualmente trabaja en innovación cívica a través de Codeando México; es co-fundador y director del Dev.F; fue director de StartupBus México; es además facilitador de Startup Experience y profesor de emprendimiento en Universidad CENTRO.</p>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/sandy.png")%>
          <h3>Sandra Macías</h3>
          <p>Sandy es experta en diseño de interfaces y experiencia de usuario, habiendo diseñado y conceptualizado productos para marcas como BestBuy, Palacio de Hierro, Motorola y Secretaría de Economía. Actualmente es consultora en Google México para la revisión y selección de aplicaciones destacadas para Google Play en América Latina. En el pasado Sandra dirigió los esfuerzos de diseño de producto en Diverza.</p>
        </div>
      </div>

      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/kike.png")%>
          <h3>Enrique Díaz</h3>
          <p>Kike se ha enfocado al desarrollo de productos móviles durante los últimos 5 años para empresas Fortune500 como Google, Motorola, Grupo Expansión y startups también. En 2013 inició una agencia de desarrollo que liberó 12 aplicaciones móviles en un año. En 2014 Kike fué nombrado Google Developer Expert, sumándose a una exclusiva lista de 100 expertos en todo el mundo con tal reconocimiento.</p>
        </div>
      </div>

      <div class="section-title">
      <%= link_to "Ver todos los senseis >>".html_safe, '#all-senseis', class: 'btn  btn-large fancybox' %>
    </div>

<div id="all-senseis" class="modal">
      <h2>Todos los Senseis</h2>
        <ol>
          <li>Margot Duek - Web hacker & Polymer México organizer</li>
          <li>Miguel Mendoza - Web developer en Zielo</li>
          <li>Diego de Granda - Frontend developer en Shoe Lovers Inc.</li>
          <li>Rafael Miranda - Web developer en Yal Ku</li>
          <li>Salvador Maurilio - Android Developer en Pe.gi</li>
          <li>Gustavo Mora - Web developer en Angel Ventures México</li>
          <li>Sergio Vázquez - CEO en Bitline</li>
          <li>Henoc Díaz - Colaborador en Codigo Facilito</li>
          <li>Hugo Mecalco - Lead Android developer en Shoe Lovers Inc.</li>
          <li>Pete Hernández - Android Hacker & GDG organizer</li>
          <li>Mauricio Vasquez - iOS hacker</li>
          <li>Amet Alvirde - Web developer en Prestigos</li>
          <li>Pablo Trinidad - Backend developer en Shoe Lovers Inc.</li>
          <li>Daniel Rodríguez - Web developer en Prestigos</li>
        </ol>
    </div>

    </div>
  </div>
</div>

<div class="image-separator data-image img-s-4"></div>

<div class="section facilitators wow fadeIn" id="testimonials">
  <div class="wrapper">
    <div class="col col-12">
      <div class="col-inner">
        <div class="section-title">
          <h2>Testimonios</h2>
          <h5>Ellos formaron parte del primer batch de participantes y ahora son parte de nuestros casos de éxito.</h5>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%= image_tag("home/petter.png")%>
          <h3>Pete Hernández</h3>
          <p>A unos días de terminar el programa, Pedro hizo su primer aplicación profesional al ser parte del equipo que desarrolló la aplicación para Android de Semana del Emprendedor 2014.</p>
          <br>
            <h4><strong>"Aquí viví el mejor verano de mi vida."</strong></h4>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/gabs.png")%>
          <h3>Gabs Serrato</h3>
          <p>Unas semanas después de terminar el programa y después de varias ofertas de empleo, Gabs decidió trabajar en Kangou (startup mexicana) como UX designer.</p>
          <br>
          <br>
          <h4><strong>"Gracias al Dev.F. decidí quedarme en México en vez de irme a vivir a otro país."</strong></h4>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/rick.png")%>
          <h3>Rick Martínez</h3>
          <p>Durante el Dev.F. Rick construyó su propia startup. Actualmente están en búsqueda de capital semilla y fueron invitados a participar en The Summit, en Dublín, Irlanda.</p>
          <br>
          <h4><strong>"Dev.F. es una de esas experiencias que cambian tu visión y hackean tu vida."</strong></h4>
        </div>
      </div>
    </div>
    <br><br><br><br>
    <div class="section-title">
      <h3>¿Quieres formar parte del Dev.F. pero no sabes si es una buena opción para tí? Lee este <%= link_to "post", "http://devfmx.github.io/info/2014/09/14/devf-busca-personas-como-tu/"%> y descubre qué tipo de personas estamos buscando para la primera escuela de hackers en México y América Latina.</h3>
    </div>
  </div>
</div>

<div class="image-separator data-image img-s-5"></div>

<div class="section facilitators wow fadeIn" id="results">
  <div class="wrapper">

        <div class="section-title">
          <h2>Resultados</h2>
          <h5>¿Aún sigues dudoso/a? ¡Entérate de lo que ha estado pasando en la des-escuela y forma parte del siguiente programa!</h5>
        </div>
          <h3>+8,000 horas de capacitación acumuladas entre los asistentes en tecnologías como Polymer, Ruby on Rails, App Engine, Python y Android.</h3>
          <h3>+120 horas de capacitación uno a uno con nuestra red de mentores.</h3>
          <h3>El 90% de los asistentes utilizó herramientas que no conocía.</h3>
          <h3>El 90% del grupo recibió alguna oferta de trabajo antes de finalizar el programa.</h3>
          <h3>60% del grupo ha conseguido empleo después de terminar el programa y 3 compañías han surgido de la comunidad de alumnos</h3>
          <h3>+1380 personas han aplicado a nuestros programas.</h3>
          <br>
          <br>
            <%= link_to "¡Aplica YA!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          <br>
  </div>
</div>

<div class="image-separator data-image img-s-6"></div>

<div class="section facilitators wow fadeIn" id="results">

<div class="wrapper">
  <div class="section-title">
    <h2>Lo que se está diciendo sobre el Dev.F.</h2>
  </div>
  <div class="section facilitators wow fadeIn" id="results">
    <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=link_to image_tag("home/excelsior.gif"), "http://www.excelsior.com.mx/hacker/2015/01/15/1002786"%>
        </div>
      </div>
    <div class="col col-4 facilitator-item">
      <div class="col-inner">
        <%=link_to image_tag("home/logo-reforma.png"), "http://www.reforma.com/aplicacioneslibre/preacceso/articulo/default.aspx?id=305493&impresion=1&urlredirect=http%3A%2F%2Fwww.reforma.com%2Faplicaciones%2Farticulo%2Fdefault.aspx%3Fid%3D305493"%>
      </div>
    </div>

    <div class="col col-4 facilitator-item">
      <div class="col-inner">
          <%=link_to image_tag("home/forotv.png"), "http://noticieros.televisa.com/foro-tv-fractal/1502/devfmx-primera-escuela-hackers-america-latina/"%>
      </div>
    </div>

    <div class="col col-4 facilitator-item">
      <div class="col-inner">
          <%=link_to image_tag("home/fayerwayer.jpg"), "https://www.fayerwayer.com/2015/01/un-buen-proposito-para-2015-aprender-a-hackearprogramar/"%>
      </div>
    </div>

    <div class="col col-4 facilitator-item">
      <div class="col-inner">
        <%=link_to image_tag("home/g-devs.png"), "http://programa-con-google.blogspot.mx/2014/08/dev-f-una-escuela-no-tradicional-para.html?utm_source=googleplus&utm_medium=M%C3%A9xico&utm_campaign=Google"%>
      </div>
    </div>

    </div>
  </div>
</div>
</div>

<div class="image-separator data-image img-s-7"></div>
<div class="section signup" id="apply" style="display: none;">

  <!--
  <div class="wrapper wow pulse" data-wow-delay=".3s">
    <div class="cols-12">
      <div class="col col-4 details details-top">
        <div class="col-inner">
          <%= image_tag("home/calendar.png") %>
          <h4>Horario y fecha</h4>
          <p>De lunes a viernes de 3pm a 9pm <br> 7 de Julio al 2 de Agosto de 2014.</p>
        </div>
      </div>
      <div class="col col-4 the-deal">
        <div class="col-inner">
          <h2>¡Inscríbete Hoy!</h2>
          <h3 class="introduction-price"> Tenemos becas disponibles: <br> Aplica YA y una de ellas puede ser tuya </h3>
          <%= link_to "¡Obtén una beca ahora!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
        </div>
      </div>
      <div class="col col-4 details details-bottom">
        <div class="col-inner">
          <%= image_tag("home/calendar.png") %>
          <h4>Horario y fecha</h4>
          <p>De lunes a viernes de 3pm a 9pm <br> 7 de Julio al 2 de Agosto de 2014.</p>
        </div>
      </div>
      <div class="col col-4 details">
        <div class="col-inner">
          <%= image_tag("home/location.png") %>
          <h4>Lugar</h4>
          <p>Zamora 187, Condesa, Cuauhtémoc, 06140 Ciudad de México, Distrito Federal</p>
          <br>
          <%= image_tag 'centraal.png' %>
        </div>
      </div>
    </div>
  </div>-->
</div>
