<% 
  set_meta_tags description: 'Escuela para crear y desarrollar soluciones a problemas del mundo real, utilizando las herramientas de software del momento.',
  keywords: 'escuela, hacker, programacion, development, summer, camp',
  og: {
    title: 'Dev.f',
    description: 'Escuela para crear y desarrollar soluciones a problemas del mundo real, utilizando las herramientas de software del momento.',
    image: 'http://devf.mx/images/og-devf.png',
    url: 'http://devf.mx/'
  }
%>

<% content_for :body_classes do %>
home
<% end %>
<div class="home-intro hero-intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="headline">
            <h1>Sé parte de la primer escuela de hackers en América Latina</h1>
            <p>El Dev.F es el lugar donde se aprende haciendo, por eso le llamamos des-escuela. En este espacio podrás satisfacer tu curiosidad intelectual construyendo software desde el día uno junto con tus Senseis y los mejores mentores de la ciudad.</p>
            <br>
            <p>Nuestro secreto: Más que desarrollar tecnología, desarrollamos personas.</p>
            <br>
            <%= link_to "¡Aplica hoy!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="topbar-wrap">
  <div class="spacer"></div>
  <div class="topbar">
    <div class="wrapper cols-12">
      <div class="col col-3">
        <div class="col-inner"><a href="#manifest">Manifesto</a></div>
      </div>
      <div class="col col-3">
        <div class="col-inner"><a href="#course">Programas</a></div>
      </div>
      <div class="col col-3">
        <div class="col-inner"><a href="#senseis">Tus Guias</a></div>
      </div>
      <div class="col col-3">
        <div class="col-inner"><%= link_to "Aplica Hoy", new_application_path %></a></div>
      </div>
    </div>
  </div>
</div>

<div class="section manifest wow fadeIn" id="hacker">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        
          <h1>hack·er</h1>
          <p>/hækə(ɹ)/</p>
          <br>
          <br>
          <p>sust.</p>
          <br>
          <p>1. Una persona que disfruta explorar los límites de lo posible por curiosidad intelectual.</p>
          <br>
          <p>2. Una persona que se regocija al entender profundamente los elementos internos de un sistema, en particular computadoras y redes de ellas.</p>
          <br>
          <p>3. Un individuo que disfruta el reto intelectual de cretivamente resolver problemas complejos y eludir las limitaciones de los sistemas de información y extender sus capacidades.</p>
        </div>

    </div>
  </div>
</div>

<div class="image-separator data-image img-s-1"></div>
<div class="section manifest wow fadeIn" id="manifest">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Manifesto</h2>
            <h5>desarrollamos(developers);</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-create.png") %>
          <h3>Crear</h3>
          <p>“Programming is the closest thing we have to a superpower.” Crear algo donde antes no había nada es el talento por excelencia. Aprende junto a senseis y mentores expertos a construir aplicaciones de software útiles desde cero. En el Dev.F. inevitablemente te convertirás en un creador.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-collaborate.png") %>
          <h3>Colaborar</h3>
          <p>“Detrás de una gran comunidad siempre encontraremos una gran cultura de colaboración." En el Dev.F. creemos que formar equipos multidisciplinarios y trabajar con personas de diferentes perfiles profesionales es uno de los pilares de la cultura hacker. Los grandes centros tecnológicos del mundo se han desarrollado gracias a esta mentalidad: antes de pensar en recibir, es importante tener la disposición de dar.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="col-inner">
          <%= image_tag("home/manifesto-progress.png") %>
          <h3>Avanzar</h3>
          <p> "La tecnología es una herramienta que está cambiando y evolucionando constantemente. Por eso, lo más importante no es dominar un lenguaje de programación, sino saber identificar las herramientas indicadas para resolver un problema de la manera más eficiente posible. Las habilidades más importantes que te vas a llevar del Dev.F. son: completar tus proyectos, vencer obstáculos con creatividad y aprovechar al máximo tu potencial intelectual.”</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="image-separator data-image img-s-2"></div>
<div class="section program wow fadeIn" id="course">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Programas</h2>
            <h5>El sendero hacia la cultura hacker</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Blanca</h3>
          <h5>Aprende el ABC de la tecnología.</h5>
          <br>
          <p>1. Si quieres iniciarte en la nueva ola tecnológica, aplica a este curso.</p>
          <p>2. Programa de dos meses con horarios amigables para estudiantes de 15 a 100 años y profesionales que trabajan en horarios de oficina.</p>
          <p>3. Te llevas skills técnicos básicos y la experiencia de sumergirte en la cultura hacker.</p>
          <br>
          <%= link_to "¡Aplica ya!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
        </div>
      </div>

      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Roja</h3>
          <h5>Construye un proyecto real con tecnología.</h5>
          <br>
          <p>1. Éntrale de lleno al mundo de desarrollo de software y negocios tecnológicos.</p>
          <p>2. Programa intensivo de seis semanas, el tiempo perfecto para construir la app que va a solucionar un problema real.</p>
          <p>3. Te llevas los skills para moverte como quieras en el ecosistema tecnológico y emprendedor.</p>
          <br>
          <br>
          <%= link_to "¡Aplica ya!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
        </div>
      </div>

      <div class="col col-4 program-item">
        <div class="col-inner">
          <h3>Cinta Negra</h3>
          <h5>Directo a las grandes ligas de la tecnología.</h5>
          <br>
          <p>1. Por si quieres convertirte en desarrollador profesional de software.</p>
          <p>2. 3 meses intensivos que te harán capaz de competir con cualquiera.</p>
          <p>3. Te llevas los skills necesarios para alta empleabilidad y/o para trabajar por tu cuenta con excelencia.</p>
          <br>
          <br>
          <br>
          <%= link_to "¡Aplica ya!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
        </div>
      </div>
    </div>    
  </div>
</div>


<div class="image-separator img-s-3"></div>
<div class="section facilitators wow fadeIn" id="senseis">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="section-title">
            <h2>Gurús del DevF</h2>
            <h5>Líderes que están cambiando la cara de México desde la trinchera tecnológica; con ellos podrás acercarte en el Dev.F. para pulir juntos tus proyectos:</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cols-12">
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%= image_tag("home/vic.png")%>
          <h3>Victor Borja.</h3>
          <p>Victor es core commiter de Rubinius, Apache Buildr y co-autor de Fancy-lang. A lo largo de sus 14 años de experiencia en la industria ha trabajado como programador, líder técnico, consultor senior y ha creado dos startups de tecnología.</p>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/kike.png")%>
          <h3>Enrique Diaz</h3>
          <p>Enrique se inició en el desarrollo móvil en 2009, y desde 2011 ha trabajado con compañías como Motorola, Google y Grupo Expansión. Es organizador de hackathones como SHDH, AngelHack y co-organizador del GDG Androidtitlan.</p>
        </div>
      </div>
      <div class="col col-4 facilitator-item">
        <div class="col-inner">
          <%=image_tag("home/sandy.png")%>
          <h3>Sandra Macías</h3>
          <p>Sandra es nuestra experta en User Experience. Actualmente es consultora en Google México para la revisión y selección de aplicaciones Android para Google Play en LatAm. En el pasado Sandra dirigió los esfuerzos de diseño en Diverza.</p>
        </div>
      </div>
    </div>    
  </div>
</div>   
<div class="image-separator img-s-4"></div>
<div class="section signup" id="apply">
  <div class="wrapper wow pulse" data-wow-delay=".3s">
    <div class="cols-12">
      <div class="col col-4 details details-top">
        <div class="col-inner">
          <%= image_tag("home/calendar.png") %>
          <h4>Horario y fecha</h4>
          <p>De lunes a viernes de 3pm a 9pm <br> 7 de Julio al 2 de Agosto de 2014.</p>
        </div>
      </div>
      <div class="col col-4 the-deal">
        <div class="col-inner">
          <h2>¡Inscríbete Hoy!</h2>
          <h3 class="introduction-price"> Tenemos becas disponibles: <br> Aplica YA y una de ellas puede ser tuya </h3>
          <%= link_to "¡Obtén una beca ahora!".html_safe, new_application_path, class: 'btn btn-primary btn-large' %>
        </div>
      </div>
      <div class="col col-4 details details-bottom">
        <div class="col-inner">
          <%= image_tag("home/calendar.png") %>
          <h4>Horario y fecha</h4>
          <p>De lunes a viernes de 3pm a 9pm <br> 7 de Julio al 2 de Agosto de 2014.</p>
        </div>
      </div>
      <div class="col col-4 details">
        <div class="col-inner">
          <%= image_tag("home/location.png") %>
          <h4>Lugar</h4>
          <p>Zamora 187, Condesa, Cuauhtémoc, 06140 Ciudad de México, Distrito Federal</p>
          <br>
          <%= image_tag 'centraal.png' %>
        </div>
      </div>
    </div>  
  </div>
</div>