<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'Dev.f', separator: '·'.html_safe, reverse: true, author: 'Dev.f', twitter: { card: 'sumary', site: '@devfmx' } %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= favicon_link_tag "favicon.png"  %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/google_tracking' %>
</head>
<body class="<%= yield :body_classes %>">
  <header class="main-header">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <%= link_to root_path, class: 'devf-logo-head' do %>
              <i class='devf-logo'></i>
              <span class="tagline"><%= Settings.tagline %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <%= yield %>
  <div class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="cols-12">
          <div class="col col-6">
            <div class="col-inner">
              <h5>Contacto</h5>
              <%= image_tag 'centraal.png' %>
              <p>Zamora 187, Col. Condesa, Delegación Cuauhtémoc, Ciudad de México.</p>
              <p>Teléfono: 5567213961</p>
              <a href="http://twitter.com/devfmx">Twitter</a>
              <a href="http://facebook.com/devfmx">Facebook</a>
              <%= link_to "Blog", "http://devfmx.github.io" %>
              <br>
              <p>Dudas contáctanos a <a href="mailto:hola@devf.mx"> hola@devf.mx</a></p>
            </div>
          </div>
          <div class="col col-6 devf-brand-footer">
            <div class="col-inner">
              <%= link_to root_path, class: 'devf-logo-footer' do %>
                <i class='devf-logo-gray'></i>
                <span class="tagline"><%= Settings.tagline %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="cols-12">
          <div class="col col-12 col-inner sponsors">
            <%= image_tag 'g-devs.png' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
