<!DOCTYPE html>
<html>
<head>
  <title>Dev.f</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= favicon_link_tag "favicon.png"  %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/google_tracking' %>
</head>
<body class="<%= yield :body_classes %>">
  <header class="main-header">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <%= link_to root_path, class: 'devf-logo-head' do %>
              <i class='devf-logo'></i>
              <span class="tagline"><%= Settings.tagline %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <%= yield %>
  <div class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="cols-12">
          <div class="col col-6">
            <div class="col-inner">
              <h5>Contáctanos</h5>
              <p>¿Tienes dudas o preguntas sobre el Curso Cinta Blanca? Escríbenos y con gusto las resolvemos contigo.</p> <br>
              <a href="mailto:hola@devf.mx">hola@devf.mx</a>
            </div>
          </div>
          <div class="col col-6 devf-brand-footer">
            <div class="col-inner">
              <%= link_to root_path, class: 'devf-logo-footer' do %>
                <i class='devf-logo-gray'></i>
                <span class="tagline"><%= Settings.tagline %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="cols-12">
          <div class="col col-12 col-inner sponsors">
            <%= image_tag 'g-devs.png' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
