<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div style="width: 600px; margin: 0 auto;">
    <table width="600px" align="center" cellspacing="0" cellpadding="0">
      <tr>
        <td>
            <span style="font-size: 14px; font-weight: bold; display: block;">Dev.<i style="font-weight: normal;">f</i></span>
            <span class="tagline"><%= Settings.tagline %></span>
        </td>
      </tr>
    </table>
    <table width="600px" align="center" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <h1 style="font-size: 36px;"><%= yield :title %></h1>
          <h4 style="font-size: 22px;"><%= yield :subtitle %></h4>
          <%= yield %> 
          <br>
          <br>
          <code>--</code><br>
           <small>
             <%= link_to_devf %><br />
             <%= Settings.tagline %>
           </small>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
